name: ble_ws2812b
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.10.0-0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_blue_plus: ^2.0.2
  flutter_colorpicker: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
